<div class="mb-3">
    <label [attr.for]="controlName" *ngIf="label != ''">
        {{label}} <span *ngIf="isRequired()" class="text-danger">*</span>
        &nbsp;
        <i *ngIf="tooltipData" class="fas fa-info-circle" placement="right" [tooltip]="tooltipData"></i>
    </label>

    <div class="input-group auth-pass-inputgroup">

        <input *ngIf="type == 'number'" type="number" [id]="controlName+'input'" [formControl]="control"
        class="form-control" [ngClass]="{'is-invalid':control.invalid && (isSubmitted || control.touched)}"
        placeholder="{{placeholder}}" [min]="min" [max]="max"
        [step]="step" required="false" [readonly]="isReadonly"/>

        <input *ngIf="type != 'number'" type="{{type}}" [id]="controlName+'input'" [formControl]="control"
        class="form-control" [maxlength]="maxCharacters"
        [ngClass]="{'is-invalid':control.invalid && (isSubmitted || control.touched)}"
        placeholder="{{placeholder}}" required="false" [readonly]="isReadonly" />

        <button *ngIf="icon != ''" class="btn btn-light" type="button" disabled [id]="controlName+'icon'">
            <i class="{{icon}}"></i>
        </button>

        <div *ngIf="control.invalid && (isSubmitted || control.touched)" class="invalid-feedback">
          <span *ngIf="control.errors?.['required']" class="d-block">{{label || 'Field'}} is required.</span>
          <span *ngIf="control.errors?.['email']" class="d-block">Invalid email format.</span>
          <span *ngIf="control.errors?.['minlength']" class="d-block">Required length is {{control.errors?.['minlength']?.['requiredLength']}}.</span>
          <span *ngIf="control.errors?.['maxlength']" class="d-block">Max length is {{control.errors?.['maxlength']?.['requiredLength']}}.</span>
          <span *ngIf="control.errors?.['min']" class="d-block">Minimum value is {{control.errors?.['min']?.['min']}}.</span>
          <span *ngIf="control.errors?.['max']" class="d-block">Maximum value is {{control.errors?.['max']?.['max']}}.</span>
          <span *ngIf="control.errors?.['pattern']" class="d-block">Password length is 8 -30 characters (use alpha numeric with special characters and Capitals)</span>
        </div>
    </div>
</div>
