<div class="container-fluid">

    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6 offset-lg-3 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-4 text-center">Update Password</h4>

                    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">

                        <app-text-input
                        [control]="inputForm.controls.oldPassword"
                        [type]="'password'" [controlName]="'oldPassword'" [label]="'Old Password'"
                        [isSubmitted]="isSubmitted">
                        </app-text-input>

                        <app-text-input
                        [control]="inputForm.controls.newPassword"
                        [type]="'password'" [controlName]="'newPassword'" [label]="'New Password'"
                        [isSubmitted]="isSubmitted">
                        </app-text-input>

                        <app-text-input
                        [control]="inputForm.controls.confirmPassword"
                        [type]="'password'" [controlName]="'confirmPassword'" [label]="'Confirm Password'"
                        [isSubmitted]="isSubmitted">
                        </app-text-input>

                        <div class="text-end">
                          <app-submit-button [label]="'Update'"
                          [isSubmitted]="isLoading" [btnClass]="'btn btn-primary w-md'">
                          </app-submit-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
