<div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-primary-subtle">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary">Welcome Back !</h5>
                    <p>Sign in to continue Library System.</p>
                  </div>
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/img/profile-img.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a routerLink="/">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/img/lib.png" alt="" class="rounded-circle" height="80">
                    </span>
                  </div>
                </a>
              </div>
              <div class="p-2">
                <form class="form-horizontal" [formGroup]="inputForm" (ngSubmit)="onSubmit()">

                  <app-text-input class="mb-3 col-lg-6 col-md-6 col-sm-12"
                  [control]="inputForm.controls.userName"
                  [type]="'email'" [controlName]="'userName'" [label]="'User Name'"
                  [isSubmitted]="isSubmitted">
                  </app-text-input>

                  <div class="mb-3">
                    <label for="password">Password <small class="text-danger">*</small></label>
                    <div class="input-group auth-pass-inputgroup">
                      <input type="{{pwType}}" class="form-control" formControlName="password"
                      placeholder="Enter your password here."
                        [ngClass]="{ 'is-invalid': isSubmitted && inputForm.controls.password.invalid }" aria-label="Password"
                        aria-describedby="password-addon">

                      <button class="btn btn-light ms-0" type="button"
                      (click)="pwType==='password'?pwType='text':pwType='password'">
                        <i class="{{pwType==='password'?'mdi mdi-eye-outline':'mdi mdi-eye-off-outline'}}"></i>
                      </button>

                      <div *ngIf="isSubmitted && inputForm.controls.password.invalid" class="invalid-feedback">
                        <span *ngIf="inputForm.controls.password.errors.required">Password is required</span>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="mt-3 d-grid">
                    <app-submit-button class="d-grid" [label]="'Log in'"
                    [isSubmitted]="isLoading"></app-submit-button>

                    <a routerLink="/register" class="btn btn-danger mt-4">Register</a>

                  </div>

                </form>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- end container -->
  </div>
  <!-- end page -->
