<div class="container-fluid">

  <h4 class="mb-4 text-center text-decoration-underline">
    Dashboard
  </h4>

  <div class="row m-1">


    <div class="col-3"></div>
    <div class="card m-1 col-sm-12 col-md-3 col-lg-3">
      <div class="card-body p-5 text-center">
        <h5 class="fw-bold">Available Books</h5>
        <h5 class="mt-4">{{availableBooks}}</h5>
      </div>
    </div>
    <div class="card m-1 col-sm-12 col-md-3 col-lg-3">
      <div class="card-body p-5 text-center">
        <h5 class="fw-bold">Assigned Books</h5>
        <h5 class="mt-4">{{checkedBooksByMe}}</h5>
      </div>
    </div>

  </div>

</div>
